.main-section-list{
  
  margin-bottom: 94px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-section-list-item{
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.container{
  
  width: 936px;
  padding: 0 15px;
  /*outline: 2px dashed  red;*/
  margin: 0 auto;
}
.header-list{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #7d7d7d;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
}
p{
  margin-top: 50px;
font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: #626262;  
font-family: Playfair Display;
}
h2{
  font-family: var(--second-family);
font-weight: 300;
font-size: 14px;
color: #b4ad9e;
  margin-top: 62px;
  font-family: Ubuntu;
}
h3{
  font-family: var(--font-family);
font-weight: 400;
font-size: 30px;
color: #626262;
  margin-top: 62px;
  font-family: Playfair Display;
  
}
.main-button{
  display: flex;
  justify-content: center;
  
}
button {
  font-family: Playfair Display;
  background-color: white;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #626262;
  width: 165px;
  height: 60px;
  margin-bottom: 50px;
}
.hero-section{
  padding-bottom: 40px;
}
.ddd{
  margin-top: 52px;
}
a{
  text-decoration: none;
}
.btn-link{
  color: #626262;
}
.header-list-item:hover .btn-link{
  color: #03a9f4;
}